@font-face {
  font-family: 'NeueMontreal';
  src: url("./assets/NeueMontreal/PPNeueMontreal-Book.otf") format("opentype");
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'NeueMontreal', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1{
  font-size: 2.5rem;

  line-height: 1.2;
  margin: 0;  
}

:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-text-color: rgb(0, 0, 0);
}
.dark {
  --main-bg-color: rgb(0, 0, 0);
  --main-text-color: rgb(255, 255, 255);
}

#root {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  transition: all 0.5s ease;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}



  .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  }

  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  }

  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-text-color);
  -webkit-transition: .4s;
  transition: .4s;
  }

  .slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: var(--main-bg-color);
  -webkit-transition: .4s;
  transition: .4s;
  }

  input:checked + .slider {
  background-color: var(--main-text-color);
  }

  input:focus + .slider {
  box-shadow: 0 0 1px var(--main-text-color);
  }

  input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  }
  .slider.round {
  border-radius: 34px;
  }

  .slider.round:before {
  border-radius: 50%;
  }


  .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 150px;
  z-index: 100;
  }
  .navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  }
  .navbar__links a {
  text-decoration: none;
  color: var(--main-text-color);
  }

  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    background-color: rgba(238, 130, 238, 0.404);
    border-radius: 10px;
    gap: 50px;
    margin-bottom: 100px;
  }
  .hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    width: 60%;
  }
  .hero__text{
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 500;
    margin: 0 auto ;
    line-height: 1.4;
  }
  .hero__link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .hero__link a{
    transition: all 0.2s ease-out;
    color: var(--main-text-color);
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: 1px solid var(--main-text-color);
    padding-bottom: 2px;
  }
  .hero__link a:hover{
    opacity: 0.7;
    transform: translateX(10px);
  }

  .card{
    display: flex;
    width: 75%;
    margin: 70px auto;
    justify-content: center;
    gap:20px;
  }
  .card__img{
    width: 40vw;
    object-fit: cover;
  }
  .card__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
  } 
  .card__info{
    font-size: 1rem;
    letter-spacing: .3em;
    text-transform: capitalize;
  }
  .card__title{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
  }
  .card__text{
    width: 160px;
  }
  .card__reverse{
    flex-direction: row-reverse;
  }
  .card__reverse .card__container{
    align-items: end;
    text-align: end;
  }
  .card__flat{
    flex-direction: column;
    align-items: center;
    width: 75vw;
  }
  .card__flat .card__img{
    width: 100%;
    height: auto;
    object-fit: fill;
  }
  .card__flat .card__container{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .card__flat .card__text{
    width: 25ch;
  }

  @media screen and (max-width: 768px) {
    .navbar{
      padding: 60px 50px;
    }
    .navbar__links{
      gap: 20px;
    }
    .hero__container{
      width: 80%;
    }
    .hero__text{
      font-size: clamp(1.5rem, 5vw, 2rem);
    }

    .card{
      flex-direction: column;
      width: 90%;
    }
    .card__img{
      width: 90vw;
      height: 70vh;
    }
  
    .card__info {
      font-size: 0.7rem;
    }
    .card__text{
      width: 60%;
    }
    .card__reverse{
      flex-direction: column;

    }
    .card__reverse .card__container{
      align-items: start;
      text-align: start;
    }
    .card__flat{
      width: 90%;
    }
    .card__flat .card__img{
      width: 90vw;
      height: 70vh;
      object-fit: cover;
    }
    .card__flat .card__container{
      flex-direction: column; 
    }
  }